<!DOCTYPE html>
<html>
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>TA Scheduler | Course Management</title>
    <link href="{% static 'styles/style.css' %}" rel="stylesheet" type="text/css" />
  </head>
  <body>
	<h1>TA Scheduler | Course Management</h1>
	<section class="navigationMenu">
		<div><a href="/">Home</a></div>
		<div><a href="/profile/">Profile</a></div>
		<div><a href="/accountmanagement/">Users</a></div>
		<div class="current"><a href="/coursemanagement/">Courses</a></div>
		<div><a href="/login/">Logout</a></div>
	</section>
	
    
    <!--Course Management Content-->

    <section class="coursemanagement">
    
    <section class="courses">
		<h2>Courses:</h2>
    {% for i in Courses %}
      <details class="course">
        <summary name="course">{{ i.name }}</summary>
        <p>{{ i.description }}</p>

      <!--Utilize course fields for instructors-->
       <details class="instructors">
          <summary>Instructors</summary>
          <ul>

            {% for j in i.users.all %}
              <li>{{ j.first_name }}</li>
            {% endfor %}
                </ul>
        </details>


        <details>
          <summary>Sections</summary>
            {% for j in Sections %}
                {% if j.course == i %}


            <details>
                 <summary>{{ j.name }}</summary>
              <ul>
                  {% for z in j.users.all %}
                <li>{{ z.first_name }}</li>
                  {% endfor %}
              </ul>
            </details>
             {% endif %}

           {% endfor %}
            <form action="/coursemanagement/" method="post">
            {% csrf_token %}
                <input type="hidden" value="{{ i.name }}" name="course">
                <input type="submit" value="Add Section">
            </form>
        </details>

      </details>
    {% endfor %}
    </section>

    <form action="/coursemanagement/" method="post">
		<h2>Create Course:</h2>
    
        {% csrf_token %}
        <label for="name">Course Name</label>
        <input id="name" name="coursename" type="text">
        <label for="description">Course Description</label>
        <input id="description" name="coursedescription" type="text">

        <input type="submit" value="Create">




    </form>
    </section>

  </body>
</html>
