<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Courses</h1>
    <div>
      <a href="index.html">Home</a>
    </div>
    <!--Course Management Content-->



    {% for i in Courses %}
    <div class="courses">
      <details class="course">
        <summary name="course">{{ i.name }}</summary>
        <p>{{ i.description }}</p>

      <!--Utilize course fields for instructors-->
       <details class="instructors">
          <summary>Instructors</summary>
          <ul>

            {% for j in i.users.all %}
              <li>{{ j.first_name }}</li>
            {% endfor %}
                </ul>
        </details>


        <details>
          <summary>Sections</summary>
            {% for j in Sections %}
                {% if j.course == i %}


            <details>
                 <summary>{{ j.name }}</summary>
              <ul>
                  {% for z in j.users.all %}
                <li>{{ z.first_name }}</li>
                  {% endfor %}
              </ul>
            </details>
             {% endif %}

           {% endfor %}
            <form action="/coursemanagement/" method="post">
            {% csrf_token %}
                <input type="hidden" value="{{ i.name }}" name="course">
                <input type="submit" value="Add Section">
            </form>
        </details>

      </details>
    </div>
    {% endfor %}

    <form action="/coursemanagement/" method="post">
        {% csrf_token %}
        <label for="name">Corse Name</label>
        <input id="name" name="coursename" type="text">
        <label for="description">Course Description</label>
        <input id="description" name="coursedescription" type="text">

        <input type="submit" value="Add Course">




    </form>

  </body>
</html>