<!DOCTYPE html>
<html>
{% load static %}
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width">
   <title>replit</title>
   <link href="{% static 'styles/style.css' %}" rel="stylesheet" type="text/css" />
 </head>
 <body>
   <h1>User List</h1>
   <section class="navigationMenu">
     <div>
       <a href="/">Home</a>
     </div>
   <!-- do we want this horizontal or vertical?-->
     <div>
       <a href="#addUser">Add User</a>
     </div>
   </section>

   <!-- how do we want to remove a user? tick marks?-->
   <section class="userList">
   <!-- modular stuff bb-->

       {% for i in Admin %}
       <details class="user">
       <summary>
         <div class="name">{{ i.first_name }}</div>
         <div class="role">Admin</div>
       </summary>
         <div class="email">{{ i.email }}</div>
         {%  for j in Profiles %}
         {% if j.user == i  %}
         <div class="altEmail">{{j.alt_email}}</div>
         <div>{{j.address}}</div>
         <div>{{j.phone}}</div>
         {% endif %}
         {% endfor %}
     </details>
       {% endfor %}

       {% for i in Instructor %}
       <details class="user">
       <summary>
         <div class="name">{{ i.first_name }}</div>
         <div class="role">TA</div>
       </summary>
         <div class="email">{{ i.email }}</div>
         {%  for j in Profiles %} }}
         {% if j.user == i  %}
         <div class="altEmail">{{j.alt_email}}</div>
         <div>{{j.address}}</div>
         <div>{{j.phone}}</div>
         {% endif %}
         {% endfor %}
     </details>
       {% endfor %}

   {% for i in TA %}
     <details class="user">
       <summary>
         <div class="name">{{ i.first_name }}</div>
         <div class="role">TA</div>
       </summary>
         <div class="email">{{ i.email }}</div>
         {%  for j in Profiles %} }}
         {% if j.user == i  %}
         <div class="altEmail">{{j.alt_email}}</div>
         <div>{{j.address}}</div>
         <div>{{j.phone}}</div>
         {% endif %}
         {% endfor %}

             </details>
   {% endfor %}
   </section>

   <h1 id="addUser">Add User</h1>
   <form class="inputBox" action="/accountmanagement/" method="post">
     {% csrf_token %}
       <div>
       <label for="user">User Name:</label>
       <input type="text" id="name" name="username" required minlength="4" maxlength="16" size="10">



     </div>
       <div>
       <label for="user">Name:</label>
       <input type="text" id="name" name="name" required minlength="4" maxlength="16" size="10">


       </div>

       <div>
       <label for="user">Password:</label>
       <input type="password" id="name" name="password" required minlength="4" maxlength="16" size="10">


       </div>

     <div>
         <label for="role">Role:</label>
         <select name="role" id="role-select">
             <option value="">--Please choose an option--</option>
             <option value="admin">Admin</option>
             <option value="instructor">Instructor</option>
             <option value="TA">Teaching Assistant</option>
         </select>

     </div>
       <div>
       <label for="email">Email:</label>
       <input type="email" id="name" name="email" required minlength="4" maxlength="256">
     </div>

       <div>
       <label for=email">Alternate Email:</label>
       <input type="email" id="name" name="altemail" required maxlength="256">
     </div>
       <div>
       <label for=address">Address:</label>
       <input type="text" id="name" name="address" required maxlength="256">
       </div>

       <div>
       <label for="phone">Phone Number:</label>
       <input type="text" id="name" name="phone" required maxlength="256">
       </div>

       <input type="submit" value="Cancel">
       <input type="submit" value="Confirm">
     </div>
   </form>
 </body>
</html>

