/* Base styling. */

:root {
	/*
	Let's set up colors here. I think alternating would be really cool
	*/
	--fore-dark: #222222;
	--fore-light: #FFFFFF;
	
	--main: #249FF6; /* #DDDDFF; */
	--accent: #1A1919; /* #5A5A79; */
	--border: #ACACAC;
	
	--back: #FFFFFF;
	
	--transparent: rgba(0, 0, 0, 0);
}

* {
	box-sizing: border-box;
}

html {
	color: var(--fore-dark);
	font-family: sans-serif;
	font-size: 12pt;
	
	background: var(--back);
}

body {
	margin: 0 auto;
}

h1 {
	margin: 0;
	padding: 2em 0 1em 2vw;
	
	color: var(--fore-light);
	font-size: 16pt;
	text-align: center;
	
	background: var(--accent);
	border: solid var(--border);
	border-width: 0 0 1pt 0;
}

h2 {
	margin: 0 0 .25em 0;
	padding: 0 0 .25em 0;
	
	font-size: 14pt;
	
	border: solid var(--border);
	border-width: 0 0 1pt 0;
}

input {
	padding: .5em 1em;
	
	border: 1pt solid var(--fore-dark);
	border-radius: .5em;
}

form {
	display: inline-grid;
	width: 100%;
	max-width: 400px;
	margin: 0 0 0 2vw;
	padding: 1em;
	align-items: center;
	grid-template-columns: auto 1fr;
	grid-gap: .25em 1em;
	
	background: var(--main);
	border: 1pt solid var(--border);
	border-radius: .5em;
}

form > h2 {
	grid-column: 1 / -1;
}

form > input[type=submit] {
	min-width: 50%;
	grid-column: 2;
	justify-self: right;
}

details {
	padding: 1em;
	
	background: var(--main);
	border: 1pt solid var(--border);
	border-radius: .5em;
}

details > summary {
	display: flex;
	margin: 0;
	padding: .5em 0;
	column-gap: .5em;
	align-items: center;
	
	background: inherit;
}

details > summary::before {
	display: block;
	content: '▶';
	
	color: var(--accent);
	text-align: right;
}

details[open] > summary::before {
	transform: rotate(90deg);
}

details > * {
	margin: 0 -1em;
	padding: 0.5em 1em;
	background: var(--back);
}

/* Styling for navigational menu. */

section.navigationMenu {
	display: flex;
	margin: 0 0 1em 0;
	padding: 0;
	flex-wrap: wrap;
	justify-content: center;
	
	background: var(--main);
	border: solid var(--border);
	border-width: 0 0 1pt 0;
}

section.navigationMenu > div {
	padding: .5em;
	
	border: solid var(--border);
	border-width: 0 0 0 1pt;
}

section.navigationMenu > div:first-of-type {
	margin-left: 2vw;
}

section.navigationMenu > div:last-of-type {
	border-width: 0 1pt;
}

section.navigationMenu > div.current {
	margin-bottom: -1pt;
	
	background: var(--back);
}

section.navigationMenu > div > a, section.navigationMenu > div > a:visited {
	color: var(--alt);
}

/* Styling for '/login'. */

section.login {
	display: flex;
	justify-content: center;
}

form.login {
	margin: 1em 0 0 2vw;
}

/* Styling for '/profile'. */

section.profile {
	display: flex;
	justify-content: center;
}

/* Styling for '/accountmanagement'. */

section.accountmanagement {
	display: flex;
	margin: 0 2vw 0 2vw;
	gap: 1em;
	flex-wrap: wrap;
	align-items: flex-start;
}

section.accountmanagement > section.userList {
	min-width: 50vw;
	flex-grow: 1;
}

section.accountmanagement > section.userList > details {
	margin-bottom: 1em;
}

section.accountmanagement > form {
	margin: 0;
}

section.accountmanagement > section.userList > details > summary > div.role {
	padding: .25em 1em;
	
	color: var(--fore-light);
	
	background: var(--accent);
	border-radius: 1em;
}

/* Styling for '/coursemanagement'. */

section.coursemanagement {
	display: flex;
	margin: 0 2vw 0 2vw;
	gap: 1em;
	flex-wrap: wrap;
	align-items: flex-start;
}

section.coursemanagement > section.courses {
	min-width: 50vw;
	flex-grow: 1;
}

section.coursemanagement > section.courses > details {
	margin-bottom: 1em;
}

section.coursemanagement > section.courses > details details {
	border: none;
	border-radius: 0;
}

section.coursemanagement > section.courses > details details > summary {	
	margin: 0 0 .25em 0;
	padding: 0 0 .25em 0;
	
	border: solid var(--border);
	border-width: 0 0 1pt 0;
}

section.coursemanagement > section.courses > details > details details {
	margin-left: 1em;
}

section.coursemanagement > section.courses form {
	display: block;
	margin: 0 0 0 2em;
	padding: 0;
	
	border: none;
	border-radius: 0;
}

section.coursemanagement > form {
	margin: 0;
}

